/* body {
 
  background-image: none;
 
  background-color: #d24040; 
  overflow: visible;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .login-page {
  background-image: url('./EMSlogin.png');
  background-size: cover;
  background-position: center;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;
} */

.dashboard-background {
  background-color: #d52020; /* Change the color to your desired background color */
}
